<div class="taste-info">
    <p class="taste" i18n="@@sweet">Sweet</p>
    <app-rating total="3" [extraSpacing]="true" [clickable]="false" [fill]="tasteProfile.sweet" figure="dot"  fillColor="#85C44E"></app-rating>

</div>
<div class="taste-info">
    <p class="taste" i18n="@@sour">Sour</p>
    <app-rating total="3" [extraSpacing]="true" [clickable]="false" [fill]="tasteProfile.sour" figure="dot" fillColor="#85C44E"></app-rating>
</div>
<div class="taste-info">
    <p class="taste" i18n="@@salt">Salt</p>
    <app-rating total="3" [extraSpacing]="true" [clickable]="false" [fill]="tasteProfile.salty" figure="dot" fillColor="#85C44E"></app-rating>
</div>
<div class="taste-info">
    <p class="taste" i18n="@@bitter">Bitter</p>
    <app-rating total="3" [extraSpacing]="true" [clickable]="false" [fill]="tasteProfile.bitter" figure="dot" fillColor="#85C44E"></app-rating>
</div>
<div class="taste-info">
    <p class="taste" i18n="@@umami">Umami</p>
    <app-rating total="3" [extraSpacing]="true" [clickable]="false" [fill]="tasteProfile.umami" figure="dot" fillColor="#85C44E"></app-rating>
</div>

<div class="taste-info">
    <p class="taste" i18n="@@spicy">Spicy</p>
    <app-rating style="margin-right: -16px;" [extraSpacing]="true" total="3" [clickable]="false" [fill]="tasteProfile.hot_spicy" figure="pepper"
        fillColor="#EF051A"></app-rating>
</div>
<div class="taste-info">
    <p class="taste" i18n="@@mint">Mint</p>
    <app-rating total="3" [extraSpacing]="true" [clickable]="false" [fill]="tasteProfile.cold_mint" figure="ice" fillColor="#00B2FF">
    </app-rating>
</div>